/* src/styles/modules/LoadingOverlay.module.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Fully opaque white background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000; /* Ensure it overlays other content */
    
    /* Start hidden above the viewport */
    transform: translateY(-100%);
    
    /* Smooth transition for sliding */
    transition: transform 0.5s ease-in-out;
  }
  
  .show {
    /* Slide down into view */
    transform: translateY(0);
  }
  
  .logoContainer {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 650px; /* Adjust as needed for responsiveness */
    max-width: 1000px; /* Prevents the logo from becoming too large */
    height: auto;
    margin: 0 auto;
  }
  
  .loadingBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #2d4059; /* Your primary color */
    transition: width 0.2s ease-in-out; /* Smooth transition for width changes */
  }
  
  .indeterminateLoader {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px; /* Match the loadingBar height */
    width: 100%;
    background: linear-gradient(90deg, #2d4059 25%, transparent 25%, transparent 50%, #2d4059 50%, #2d4059 75%, transparent 75%, transparent);
    background-size: 200% 100%;
    animation: indeterminate 2s infinite;
  }
  
  @keyframes indeterminate {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  