# Ignore virtual environments
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE configuration files
.idea/
*.sln

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compiled Python files
*.py[cod]
