/* Hover States */
.for-you-button:hover,
.global-page-button:hover {
    background-color: rgba(var(--primary-rgb), 0.9);
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(var(--text-rgb), 0.15);
}

.sidebar.open {
    left: 0;
}

.sidebar-right.open {
    right: 0;
}

/* Responsive States */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .sidebar, 
    .sidebar-right {
        width: 200px;
    }
}

.preference-button.selected,
.dislike-button.selected {
    background-color: var(--secondary);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .sidebar,
    .sidebar-right {
        width: 200px;
    }
}

